parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
